img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -25px;
  margin-bottom: -60px;
}

.landing-inner {
  padding-top: 100px;
}

.dark-overlay {
  background-color: rgba(12, 24, 53, 0.644);
  position: absolute;
  width: 100%;
  height: 100%;
}

.form-control::placeholder {
  color: rgb(122, 111, 111) !important;
}

body {
  min-height: 100vh;
  position: relative;
}

#root {
  padding-bottom: 120px;
}
